<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{url_for('static', filename='script/script.js')}}"></script>
    <meta charset="UTF-8">
    <title>Vodák</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
      </div>
<div id="nazev"><h2>Rozsazení v lodích na vodáckém kurzu 2023 SPŠE Ječná</h2></div>
<a href="/registrace"><button class="button-64" role="button"><span class="text">Registrace</span></button>
</body>
</html>