
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{url_for('static', filename='script/script.js')}}"></script>
    <meta charset="UTF-8">
    <title>Registrace</title>
</head>
<body>


<form action="action_page.php">
  <div class="container">
    <h1>Registrace</h1>
    <p>Vyplňte a vytvořte si účet</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Zadej email" name="email" id="email" required>

    <label for="psw"><b>Heslo</b></label>
    <input type="password" placeholder="Zadej heslo" name="psw" id="psw" required>

    <label for="psw-repeat"><b>Znovu heslo</b></label>
    <input type="password" placeholder="Znovu heslo" name="psw-repeat" id="psw-repeat" required>
    <hr>

   
    <button type="submit" class="registerbtn">REGISTROVAT</button>
  </div>

  
</form>

</body>
</html>